<app-menu></app-menu>

<!-- <p>profile works!</p> -->

<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    </a>
  </nav>
<h1>1</h1>
<h1>1</h1>
<h1>1</h1>
<h1>1</h1>
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Profile</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <div class="media">
                <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/image/image-placholder.png'}}"
                  alt="{{user.displayName}}">
                <div class="media-body">
                  <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                  <p>User ID: <strong>{{user.uid}}</strong></p>
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

<body>
  

  <div class="container">
    <div class="title" >Felhasználói profil adatai</div>
    <form action="#">
        <div class="user-details" *ngIf="authService.userData as users">
            <div class="input-box">
                <span class="details">Teljes név</span>
                <input type="text" placeholder="Add meg a neved" required #displayName>
            </div>
            <div class="input-box">
                <span class="details">UserName</span>
                <input type="text" placeholder="Add meg a felhasználó neved" required>
            </div>
            <div class="input-box">
              <span class="details">Születésnap</span>
              <input type="date" placeholder="Enter your e-mail" required #birthday>
          </div>
            <div class="input-box">
                <span class="details">E-mail</span>
                <input name="email" type="email" placeholder="Enter your e-mail" required #email>
            </div>
            <div class="input-box">
                <span class="details">Telefonszám</span>
                <input type="tel" placeholder="Add meg a telefonszámod" required #phone>
            </div>
            <div class="input-box">
                <span class="details">Profilkép</span>
                <input type="file" placeholder="Add meg a telefonszámod" required #picture  style="padding-left: 0; padding-top: 10px; border: none;">
            </div>
           
        </div>
        <div class="gender-details">
            <input type="radio" name="gender" id="dot-1" #gender>
            <input type="radio" name="gender" id="dot-2" #gender>
            <input type="radio" name="gender" id="dot-3" #gender>
            <input type="radio" name="gender" id="dot-4" #gender>
            <span class="gender-title">Nem</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Férfi</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Nő</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Egyéb</span>
                    </label>
                    <label for="dot-4">
                        <span class="dot four"></span>
                        <span class="gender">Nem nyilatkozom</span>
                    </label>
                </div>
        </div>
        <div class="button">
          <!-- <input *ngIf="authService.userData as users" type="submit" value="profile" (click)="authService.SetUserData(users.uid)"/> -->
          <input *ngIf="authService.userData as users" type="submit" value="Update" (click)=" UpdateProfile(displayName.value)"/>
        </div>
    </form>
</div>


</body>