
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NLE0ZZTKGG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'G-NLE0ZZTKGG');
</script>

<app-menu></app-menu>

<div class="container-fluid" style="width: 95%;">
    <div class="row">

     
        <div class="searchBar text-center">
           <!-- keresés mező -->
           <div class="search-wrapper">
            <!-- <span class="las la-search"></span> -->
              <!-- <span class="fa fa-search"></span> -->
              <input type="text" name="search" [(ngModel)]="itemFilter" placeholder="Írd be amit keresel...">
            </div>        
        </div>

        <!-- <div class="row top-row">
          <div class="col-3">
              <select 
                  [(ngModel)]="phraseKey"
                  class="form-control">
                  <option value="not set">Minden adatban</option>
                  <option value="energyKJ">Energia (KJ)</option>
                  <option value="energyKcal">Energia (Kcal)</option>
                  <option value="fat">Zsír</option>
                  <option value="carbonHydrate">Szénhidrát</option>
                  <option value="protein">Fehérje</option>
                  <option value="sugar">Cukor</option>
                  <option value="salt">Só</option>
              </select>
          </div>
              <div class ="col-9">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                          </span>
                      </div>
                          <input type="text" class="form-control" placeholder="filter"
                          [(ngModel)]="phraseString">
                  </div>
              </div>
          </div> -->


          <h1 class="text-center">Terméklista</h1>
          <h3 class="text-center">A megadott adatok 100g mennyiségre vonatkoznak</h3>
          
          <table class="table table-striped table-hover result">
            <thead class="text-center">
              <tr>
                <th>#</th>
                <th style="width: 25%">Termék neve</th>
                <th>Energia (KJ)</th>
                <th>Energia (Kcal)</th>
                <th>Zsír</th>
                <th>Telített zsír</th>
                <th>Szénhidrát</th>
                <th>Cukor</th>
                <th>Fehérje</th>
                <th>Só</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items | async | filter:itemFilter | paginate: {itemsPerPage: 10, currentPage: page, id: '1'}; let i = index">
              <!-- <tr *ngFor="let item of filteredItems | async  | paginate: {itemsPerPage: 10, currentPage: page, id: '1'}; let i = index"> -->
                <!-- <td  [(ngModel)]="" type="text" class="form-control border border-0"></td> -->
                <td class="index">
                    {{ i + 1 }}
                </td>
                <td>
                  <input [(ngModel)]="item.name" type="text" class="form-control border border-0">
                  <!-- <textarea name="itemName" cols="50" rows="2" [(ngModel)]="item.name"></textarea> -->
                </td>
                <td>
                  <input [(ngModel)]="item.energyKJ" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.energyKcal" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.fat" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.sFat" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.carbonHydrate" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.sugar" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.protein" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.salt" type="number" class="form-control border border-0">
                </td>
                <td>
                  <div class="btn-group text-center">
                    <div class="row" style="display: contents;">
                      <div class="col">
                        <button (click)="onUpdate(item)" class="btn btn-primary pr-1" *ngIf="IsLoggedIn">Update</button>

                        <!-- <button type="button" id="btnOpen" class="btn btn-primary pr-1" (click)="onUpdate(item)">Update</button>
                          <div id="updateModal" class="modal fade" role="dialog" [ngStyle]="{'display': updateModalIsOpen ? 'block' : 'none', 'opacity': 1}">
                            <div class="modal-dialog modal-dialog-centered modal">
                              <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title fs-5"></h4>
                              </div> -->
                              <!-- <div class="modal-body">Az adatfrissítés sikerült!</div> -->
                              <!-- <div class="modal-body"> {{ message }} </div>
                              <div class="modal-footer" text-align="right"> -->
                                <!-- <button type="button" id="btnOK" class="btn btn-success" (click)="btnOKClick(false)"><i class="fa fa-check fa-fw"></i> OK</button> -->
                                <!-- <button type="button" id="btnClose" class="btn btn-danger" (click)="openModal(false)"><i class="fa fa-times fa-fw"></i> Cancel</button> -->
                              <!-- </div>
                              </div>
                            </div>
                          </div> -->
                      </div>
                      <div class="col">
                        <!-- <button (click)="onDelete(item)" class="btn btn-danger">Delete</button> -->

                        <button type="button" id="btnOpen" class="btn btn-danger" data-bs-toggle="modal" (click)="onDelete(item)" *ngIf="IsLoggedIn">Delete</button>
                          
                         <div id="confirmModal" class="modal fade" role="dialog" [ngStyle]="{'display': confirmModalIsOpen ? 'block' : 'none', 'opacity': 1}">
                          <div class="modal-dialog modal-dialog-centered modal">
                            <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">Biztos szeretnéd törölni az adatot?</div>
                            <div class="modal-footer" text-align="right">
                              <button type="button" id="btnOK" class="btn btn-success" (click)="onDelete(item)"><i class="fa fa-check fa-fw"></i> OK</button>
                              <!-- <button type="button" id="btnOK" class="btn btn-success" (click)="true"><i class="fa fa-check fa-fw"></i> OK</button> -->
                              <!-- <button type="button" id="btnClose" class="btn btn-danger" (click)="(false)"><i class="fa fa-times fa-fw"></i> Cancel</button> -->
                              <button type="button" id="btnClose" class="btn btn-danger" (click)="btnDelOKClick(false)"><i class="fa fa-times fa-fw"></i> Cancel</button>
                            </div>
                            </div>
                          </div>
                        </div>
                        
                          <!-- <div id="deleteModal" class="modal fade" role="dialog" [ngStyle]="{'display': deleteModalIsOpen ? 'block' : 'none', 'opacity': 1}">
                            <div class="modal-dialog modal-dialog-centered modal">
                              <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title"></h4>
                              </div>
                              <div class="modal-body">Az adattörlés sikerült!</div>
                              <div class="modal-footer" text-align="right">
                                <button type="button" id="btnOK" class="btn btn-success" (click)="btnDelOKClick(false)"><i class="fa fa-check fa-fw"></i> OK</button>
                                <button type="button" id="btnClose" class="btn btn-danger" (click)="deleteModal(false)"><i class="fa fa-times fa-fw"></i> Cancel</button>
                              </div>
                              </div>
                            </div>
                          </div> -->


                      </div>
                    </div>
                    <!-- <button (click)="onUpdate(item)" class="btn btn-primary pr-1">Update</button>
                    <button (click)="onDelete(item)" class="btn btn-danger">Delete</button> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <app-pagination (pageChange)="page = $event" id="1"
              [maxSize] = "10"
              [directionLinks]="true"
              [autoHide]="true">
          </app-pagination>
            </div>

      
      <!-- Start Messenger Modal -->
      <div id="messengerModal" class="modal fade" role="dialog"
        [ngStyle]="{'display': messengerModalIsOpen ? 'block' : 'none', 'opacity': 1}">
        <div class="modal-dialog modal-dialog-centered modal">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body text-center">{{ message }}</div>
            <div class="modal-footer" text-align="right">
              <button type="button" id="btnOK" class="btn btn-success" (click)="btnMessengerClick(false)"><i
                  class="fa fa-check fa-fw"></i> OK</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Messenger Modal -->

      <!-- Start Error Modal -->
      <div id="errorModal" class="modal fade" role="dialog"
        [ngStyle]="{'display': errorModalIsOpen ? 'block' : 'none', 'opacity': 1}">
        <div class="modal-dialog modal-dialog-centered modal">
          <div class="modal-content">
            <div class="modal-header-error">
              <h4 class="modal-title text-center p-3">Adatrögzítési hiba!</h4>
            </div>
            <div class="modal-body text-center pt-3 pb-3">{{ message }}</div>
            <div class="modal-footer-error pt-3 pb-3" text-align="center">
              <button type="button" id="btnOK" class="btn btn-danger" (click)="btnErrorClick(false)"><i
                  class="fa fa-check fa-fw"></i> OK</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Error Modal -->

        <!-- <h1 class="new text-center">Új termék rögzítése</h1>
        <div class="col-10 offset-1">
          <table class="table table-striped table-hover">
            <thead class="text-center">
              <tr>
                <th style="width: 25%">Termék neve</th>
                <th>Energia (KJ)</th>
                <th>Energia (Kcal)</th>
                <th>Zsír</th>
                <th>Telített zsír</th>
                <th>Szénhidrát</th>
                <th>Cukor</th>
                <th>Fehérje</th>
                <th>Só</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input [(ngModel)]="newItem.name" type="text" rows="4" class="form-control bg-white">
                </td>
                <td>
                  <input [(ngModel)]="newItem.energyKJ" type="number" class="form-control  bg-white">
                </td>
                <td>
                  <input [(ngModel)]="newItem.energyKcal" type="number" class="form-control  bg-white">
                </td>
                <td>
                  <input [(ngModel)]="newItem.fat" type="number" class="form-control  bg-white">
                </td>
                <td>
                  <input [(ngModel)]="newItem.sFat" type="number" class="form-control  bg-white">
                </td>
                <td>
                  <input [(ngModel)]="newItem.carbonHydrate" type="number" class="form-control  bg-white">
                </td>
                <td>
                  <input [(ngModel)]="newItem.sugar" type="number" class="form-control  bg-white">
                </td>
                <td>
                  <input [(ngModel)]="newItem.protein" type="number" class="form-control  bg-white">
                </td>
                <td>
                  <input [(ngModel)]="newItem.salt" type="number" class="form-control  bg-white">
                </td>
                <td>
                  <button (click)="onCreate(newItem)" class="btn btn-success">Add</button>
                </td>
              </tr> -->

              <!-- <tr *ngFor="let item of items | async">
                <td>
                  <input [(ngModel)]="item.name" type="text" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.energyKJ" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.energyKcal" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.fat" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.sFat" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.carbonHydrate" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.sugar" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.protein" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.salt" type="number" class="form-control border border-0">
                </td>
                <td>
                  <div class="btn-group text-center">
                    <button (click)="onUpdate(item)" class="btn btn-primary">Update</button>
                    <button (click)="onDelete(item)" class="btn btn-danger">Delete</button>
                  </div>
                </td>
              </tr> -->
            <!-- </tbody>
          </table> -->

          <!-- <h1 class="text-center">Terméklista</h1>
          <h3 class="text-center">A megadott adatok 100g mennyiségre vonatkoznak</h3>

          <table class="table table-striped table-hover result">
            <thead class="text-center">
              <tr>
                <th style="width: 25%">Termék neve</th>
                <th>Energia (KJ)</th>
                <th>Energia (Kcal)</th>
                <th>Zsír</th>
                <th>Telített zsír</th>
                <th>Szénhidrát</th>
                <th>Cukor</th>
                <th>Fehérje</th>
                <th>Só</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items | async">
                <td>
                  <input [(ngModel)]="item.name" type="text" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.energyKJ" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.energyKcal" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.fat" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.sFat" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.carbonHydrate" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.sugar" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.protein" type="number" class="form-control border border-0">
                </td>
                <td>
                  <input [(ngModel)]="item.salt" type="number" class="form-control border border-0">
                </td>
                <td>
                  <div class="btn-group text-center">
                    <div class="row" style="display: contents;">
                      <div class="col">
                        <button (click)="onUpdate(item)" class="btn btn-primary pr-1">Update</button>
                      </div>
                      <div class="col">
                        <button (click)="onDelete(item)" class="btn btn-danger">Delete</button>
                      </div>
                    </div>
                    <button (click)="onUpdate(item)" class="btn btn-primary pr-1">Update</button>
                    <button (click)="onDelete(item)" class="btn btn-danger">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  