
<body>
    <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <div class="container">
        <div class="title">Bejelentkezés</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">E-mail</span>
                    <input type="email" placeholder="Enter your e-mail" #userEmail required>
                </div>
                <div class="input-box">
                    <span class="details">Jelszó</span>
                    <input type="password" placeholder="Enter your password" #userPwd required>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Log in" (click)="authService.SignIn(userEmail.value, userPwd.value)"/>
                <div class="or text-center">
                    <p>&nbsp;</p>
                </div>
                <span class="orInner text-center ">or connect with</span>
            </div>
            <div class="or text-center">
                <p>&nbsp;</p>
            </div>
        </form>
        
        <div class="formGroup google">
          </div>
          <!-- Continue with Google -->
          <div class="formGroup">
              <div class="col s12 m6 offset-m3 center-align">
                <a class="oauth-container btn darken-4 white black-text" role="button" (click)="authService.GoogleAuth() " style="text-transform:none">
                    <div class="left">
                        <img width="20px" style="margin-top:1px; margin-right:8px" alt="Google sign-in" 
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    </div>
                    Login with Google
                </a>
            </div>
          </div>
    </div>
</body>
