body {
    /* background-image: url('../../img/HS_Dietitans-View_Blog-Header-copy-scaled.jpg') fixed; */

    font-size: 25px;
    color: black;

    /* background: url('../../img/Eat-less-salt-1200x630.jpg') center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode: overlay;  */
    /* background: linear-gradient(180deg,#0d47a1 0%, #008dff 85%); */
    /* background: radial-gradient(circle farthest-corner at center center, #fef1f1 0%, #d0d2e2 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #fef1f1 0%, #d0d2e2 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #fef1f1 0%, #d0d2e2 80%); */

    background-color: #fef1f1;
    /* background: linear-gradient(0deg,#fef1f1 20%, #c8c8d0 80%);
    background: -webkit-linear-gradient(0deg,#fef1f1 20%, #c8c8d0 80%);
    background: -moz-linear-gradient(0deg,#fef1f1 20%, #c8c8d0 80%); */



    /* background: radial-gradient(circle farthest-corner at center center, #004eff 0%, #00a9ff 80%); */
    /* opacity: 0.1; */
    /* background: radial-gradient(circle farthest-side at center center, #004eff 0%, #00a9ff 80%); */
    /* background: -webkit-radial-gradient(circle farthest-side at center center, #004eff 0%, #00a9ff 80%); */
    /* background: -moz-radial-gradient(circle farthest-side at center center, #004eff 0%, #00a9ff 80%); */

}


/*
body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
} */

.text-decoration-none {
    color: black
}

.container {

}

.carousel-inner .carousel-item img {
    height: 550px;
    /* width: 100%;  */
    z-index: 1;
    /* border-radius: 15px; */
    border: none;
    overflow: hidden;
    mix-blend-mode: darken;
    

    box-shadow: 18px 15px 12px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 18px 15px 12px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 15px 12px 4px rgba(0,0,0,0.75);
}

.picture img {
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 18px 15px 12px 4px rgba(0,0,0,0.75);
}

article, span {
    text-align: justify;
    padding-top: 10px;
}

.antre {
    padding-bottom: 25px;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 30px;
    opacity: 1;
}

source {
    padding-top:30px;

}

ul {
    padding-bottom: 20px;
}

footer .container {
    color:rgb(175, 23, 23);
    font-weight: bold;
    /* text-shadow: 4px 4px 2px rgba(175, 23, 23, 1); */
    /* text-shadow: 2px 2px 2px rgba(175, 23, 23, 0); */
    /* text-shadow: 33px -23px 6px rgba(175, 23, 23, 1) */
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC, 2px 2px 8px rgba(175, 23, 23, 0);
}

