
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <!-- <img src="../app/img/GettyImages-1126734925-640x427.jpg" alt="Bootstrap" width="30" height="24"> -->
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/items">Terméklista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/informations">Következmények</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/sign-up">Register</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown menu
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <ul class="nav justify-content-end" *ngIf="auth.userData as user">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link-login" href="/login">Login</a>
        </li>
        <!-- <li class="nav user">
          {{  user.email}}
        </li> -->
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user.email}}
            </a>
            <ul class="dropdown-menu ml-5">
              <li><a class="dropdown-item" href="/profile">Profil</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" (click)="auth.SignOut()" href="#">Kijelentkezés</a></li>
            </ul>
          </li>
      </ul>
    </div>
    Debug: {{ isLoggedIn }}
  </nav>